{% extends 'vuln_manager/dashboard/components/form_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block form_title %}Editar Vulnerabilidad{% endblock %}

{% block form_subtitle %}Modifica los datos de la vulnerabilidad{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'vuln_manager:dashboard_admin' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'vuln_manager:vulnerabilidad_list' %}">Vulnerabilidades</a></li>
<li class="breadcrumb-item active">Editar</li>
{% endblock %}

{% block form_fields %}
    {{ form|crispy }}
{% endblock %}

{% block submit_text %}Confirmar cambios{% endblock %}

{% block cancel_url %}{% url 'vuln_manager:vulnerabilidad_list' %}{% endblock %} 