<div class="btn-group" role="group">
    {% if perms.vuln_manager.change_vuln_manager %}
        <a href="{% url update_url object.pk %}" class="btn btn-warning">
            <i class="bi bi-pencil"></i> Editar
        </a>
    {% endif %}
    {% if perms.vuln_manager.delete_vuln_manager %}
        <a href="{% url delete_url object.pk %}" class="btn btn-danger">
            <i class="bi bi-trash"></i> Eliminar
        </a>
    {% endif %}
    <a href="{% url list_url %}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div> 